body {
    box-sizing: border-box;
}


/* Header Section */

header {
    display: flex;
    flex-wrap: wrap;
}

header p {
    font-size: 32px;
}

logo {
    padding-left: 24px;
}

nav {
    text-align: right;
    flex-grow: 1;
}