body {
    box-sizing: border-box;
    margin: 0;
}


/* Header Section */

header {
    display: flex;
    flex-wrap: wrap;
    height: 64px;
}


logo {
    padding-left: 24px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

/* Banner Section */

.banner {
    background-color: lightgray;
    display: flex;
    align-items: flex-start;

}

.banner img {
    width: 60%;
    padding: 32px 24px;
}

button {
    background-color: darkgray;
    box-sizing: content-box;
    width: 90%;
    height: 10%;
}

,text-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Practice Section */

.practice img {
    width: 60%;
    padding: 32px 24px;
}